.row{
  .columns{
    padding-bottom: 0 !important;
  }
}
.suggested-header{
  .columns{
    p{
      font-size: 22px !important;
      color: #222;
      line-height: 1.3 !important;
    }
  }
}
.suggestions-one{
  .columns{
    padding-top: 0!important;
    a{
      max-width: 100%;
      color: #000;
      font-weight: normal;
      text-decoration: none;

      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      padding: 8px !important;
      
    }
  }
}

.suggestions-two{
  .columns{
    padding-top: 0 !important;
    a{
      max-width: 100%;
      color: #000;
      font-weight: normal;
      text-decoration: none;

      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      padding: 8px !important;
    }
    
  }
}
.footer-social-imgs{
  .columns{
    padding-top: 10px !important;
    /*
    a{
      
      img{
        border: 0;
        height: auto;
        line-height: 100%;
        max-width: 100%;
        outline: none;
        text-decoration: none;
       
        display: block;
      }
    
    
      .twitter{
        width:68px !important;
        border: 0;
        height: 68px ;
        line-height: 100%;
        
        outline: none;
        text-decoration: none;
        display: block;
      }
    }
    */
  }
}

.footer-text{
  .columns{
    p{
      font-size: 10px;
      color: #a9a9a9;
      font-family: Slack-Lato,appleLogo,sans-serif;
    }
  }
}