.row{
  .columns{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
.suggested-header{
  .columns{
    padding-top: 8px !important;
    p{
      font-size: 22px !important;
      color: #222;
      line-height: 1.3 !important;
    }
  }
}
.suggestions-one{
  .columns{
    a{
      img{
        padding-bottom: 4px;
      }
    }
    
    .rug-text{
      max-width: 100%;
      color: #000;
      font-weight: normal;
      text-decoration: none;
      font-size: 13px;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      padding: 4px !important;
      margin: 8px !important;
      
    }
  }
  
}

.suggestions-two{
  .columns{
    padding-top: 4px !important;
    a{
      img{
        padding-bottom: 4px;
      }
    }
    .rug-text{
      max-width: 100%;
      color: #000;
      font-weight: normal;
      text-decoration: none;
      font-size: 13px;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      padding: 4px !important;
      margin: 8px !important;
    }
    
  }
  
}
.footer-social-imgs{
  .columns{
    padding-top: 10px !important; 
    a{
      display: inline-block;
      margin: 0 !important;
      padding: 0 !important;
    }
    
  }
}

.footer-text{
  .columns{
    padding-top: 24px !important;
    p{
      color: #727272;
      font-family: "Helvetica Neue",Arial;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 1.3;
      text-align: center;
      word-wrap: break-word;
      span{
        font-size: 10px;
        color: #a9a9a9;
      }
    }
  }
}